<?= Form::open(['id' => 'createForm']) ?>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="popup">&times;</button>
        <h4 class="modal-title">Create <?= $mode ?? '' ?></h4>
    </div>

    <?php if (!$this->getFatalError()): ?>
        <input type="hidden" name="refresh_relation_data" value='<?= json_encode(post('refresh_relation_data') ?? new \stdClass) ?>' />
        <input type="hidden" name="custom_fields" value="<?= post('custom_fields') ?>" />
        <div class="modal-body">
            <?= $this->formRender() ?>
        </div>
        <div class="modal-footer">
            <button
                type="submit"
                data-request="onSave"
                data-request-data="redirect:0,create_form:1,mode:'<?= post('mode') ?? '' ?>',refresh_list:'<?= post('refresh_list') ?? '' ?>',refresh_relation:'<?= post('refresh_relation') ?? '' ?>'"
                data-hotkey="ctrl+s, cmd+s"
                data-popup-load-indicator
                class="btn btn-primary">
                <?= e(trans('backend::lang.form.create')) ?>
            </button>

            <button
                type="button"
                class="btn btn-default"
                data-dismiss="popup">
                <?= e(trans('backend::lang.form.cancel')) ?>
            </button>
        </div>

    <?php else: ?>

        <div class="modal-body">
            <p class="flash-message static error"><?= e(trans($this->getFatalError())) ?></p>
        </div>
        <div class="modal-footer">
            <button
                type="button"
                class="btn btn-default"
                data-dismiss="popup">
                <?= e(trans('backend::lang.form.close')) ?>
            </button>
        </div>

    <?php endif ?>

    <script>
        setTimeout(
            function(){ $('#createForm input.form-control:first').focus() },
            310
        )
    </script>

<?= Form::close() ?>
